@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap');

/* Basic reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', Arial, sans-serif; /* Applying Montserrat font */
  background-color: #f5f5f5;
  color: #333;
  line-height: 1.6;
  padding: 20px;
  background-image: url('https://img.freepik.com/free-photo/blue-product-background_53876-89506.jpg?size=626&ext=jpg&ga=GA1.1.1448711260.1706313600&semt=ais');
  background-size: cover; /* Adjusts the background image to cover the entire body */
  background-repeat: no-repeat; /* Ensures the background image does not repeat */
  background-position: center; /* Centers the background image */
  height: 100%;
  margin: 0; /* Removes default body margin */
}
